body {
  margin: 0;
  background-color: #d7bcfd;
  font-family: 'Rozha One', serif;
  color: #0439af;
}

.home {
  background-image: url('./images/home-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.navbar {
  font-family: 'Rozha One', serif;
  justify-content: space-between;
  align-items: center;
  background-color: #0439af;
  padding: 30px;
  min-height: 25px;
}

.navbar a {
  text-decoration: none;
  color: #ffc897;
  font-weight: bold;
  margin-right: 10px;
}

.navbar a:hover {
  color: #ff19bf;
  font-size: 20px;
}

.saved-recipes {
  font-family: 'Rozha One', serif;
  color: #0439af;
  font-size: 30px;
  padding-left: 50px;
  background-image: url('./images/saved-background.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 140vh;
  width: 100%;
}

.saves {
  font-size: 18px;
  color: #ff19bf;
}

.saves {
  margin: 10px;
  padding: 10px;
  background-color: #eadcfe;
  width: 700px;
  border-radius: 5px;
}

.saves a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.saves a:visited {
  color: #0439af;
}

.saves a:hover {
  color: #ff19bf;
  font-size: 22px;
}

.new-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding: 30px;
  border-radius: 10px;
  background-image: url('./images/add-background.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.new-recipe form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
}

.new-recipe form label {
  margin: 10px 0;
}

.new-recipe form input,
.new-recipe form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.new-recipe form button {
  width: 150px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  background-color: #fc5f22;
  color: #ffc897;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Rozha One', serif;
}

.new-recipe form button:hover {
  background-color: #ff19bf;
}

.grocery-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding: 30px;
  border-radius: 10px;
  border-radius: 10px;
  background-image: url('./images/grocery-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.grocery-list h1 {
  font-size: 40px;
  font-weight: bold;
}

.grocery-list form {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 20px;
}

.grocery-list form input {
  width: 45%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Rozha One', serif;
}

.grocery-list form button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff6c92;
  color: #ffc897;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Rozha One', serif;
}

.grocery-list form button:hover {
  background-color: #fc5f22;
}

.grocery-list ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.grocery-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.grocery-list ul li button {
  width: auto;
  margin: 0 5px;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Rozha One', serif;
}

.recipe-container {
  display: flex;
  padding-left: 60px;
}

.recipe-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 80px 0 0 20px;
  font-size: 70px;
  padding: 10px;
  z-index: 1;
}
.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.recipe-card {
  width: 300px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.recipe-card a {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.recipe-card:hover {
  background-color: #ff6c92;
}

.recipe-card:hover a {
  color: #ffc897;
  font-size: 20px;
  text-decoration: none;
}

.recipe-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rozha One', serif;
}

.details-recipe-title {
  font-size: 2em;
  color: #fc5f22;
  text-align: center;
  width: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.details-recipe-image {
  width: 40%;
  max-height: 500px;
  object-fit: cover;
}

.recipe-text {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.save-btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff6c92;
  color: #ffc897;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d7bcfd;
  font-family: Arial, sans-serif;
}

.card-overlay {
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.input-wrapper {
  margin-bottom: 20px;
  width: 100%;
}

.input-wrapper label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.input-wrapper input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.log-btn .reg-btn {
  width: 100%;
  padding: 15px;
  background-color: #fc5f22;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #fff;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #fc5f22;
}

.signin-link {
  margin-top: 20px;
}

.signin-link a {
  color: #007bff;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}
