body {
  margin: 0;
  background-color: #d7bcfd;
  font-family: 'Rozha One', serif;
  color: #0439af;
}

.navbar {
  font-family: 'Rozha One', serif;
  justify-content: space-between;
  align-items: center;
  background-color: #0439af;
  padding: 10px;
  min-height: 25px;
}

.navbar a {
  text-decoration: none;
  color: #ffc897;
  font-weight: bold;
  margin-right: 10px;
}

.navbar a:hover {
  color: #ff19bf;
  font-size: 20px;
}

.saved-recipes {
  font-family: 'Rozha One', serif;
  color: #0439af;
  font-size: 20px;
}

.saves {
  font-size: 18px;
  color: #ff19bf;
}
.saves {
  margin: 10px;
  padding: 10px;
  background-color: #eadcfe;
  width: 500px;
  border-radius: 5px;
}

.saves a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.saves a:visited {
  color: #0439af;
}

.saves a:hover {
  color: #ff19bf;
  font-size: 22px;
}

.new-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px;
}

.new-recipe form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
}

.new-recipe form label {
  margin: 10px 0;
}

.new-recipe form input,
.new-recipe form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.new-recipe form button {
  width: 150px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  background-color: #fc5f22;
  color: #ffc897;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Rozha One', serif;
}

.new-recipe form button:hover {
  background-color: #ff19bf;
}

.grocery-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px;
}

.grocery-list h1 {
  font-size: 40px;
  font-weight: bold;
}

.grocery-list form {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 20px;
}

.grocery-list form input {
  width: 45%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Rozha One', serif;
}

.grocery-list form button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff6c92;
  color: #ffc897;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Rozha One', serif;
}

.grocery-list form button:hover {
  background-color: #fc5f22;
}

.grocery-list ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.grocery-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.grocery-list ul li button {
  width: auto;
  margin: 0 5px;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Rozha One', serif;
}
